{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "MFiSA Application Programming Interface",
    "description": "API Manager Connections",
    "license": {
      "name": "MIT",
      "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
    }
  },
  "host": "mfisa.com",
  "basePath": "/mfisa/global",
  "securityDefinitions": {
    "auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": ""
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/mobile/cashout": {
      "post": {
        "description": "APIM - MoMo",
        "summary": "MoMo Payment",
        "operationId": "MoMo Payment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/MomoPaymentrequest"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/v1/mobile/cashout",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "Bearer 1f38bb8f-c507-38fc-9ec3-20fa314b6ab3"
              },
              "body": "{\n  \"chargeObject\":{\"msisdn\":\"256781644531\"},\n  \"amount\":\"1.00\",\n  \"merchantReferenceId\":\"11i92\",\n  \"paymentMethodId\":\"1\",\n  \"countryCode\":\"GH\",\n  \"partnerId\":\"mtn\",\n  \"currency\":\"GHS\"\n}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "MoMo Payment",
            "x-testDescription": "APIM - MoMo"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/transfer/card": {
      "post": {
        "description": "",
        "summary": "Card2Transfers",
        "operationId": "Card2Transfers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Card2TransfersRequest"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/transfer/card",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "Bearer 77b29ed7-7f7f-3c3e-966c-41ffe9d129a2"
              },
              "body": "{\n\"chargeObject\":{\n  \"senderFirstname\":\"Modupe\",\n  \"senderLastname\":\"Ladejebi\",\n  \"senderPhone\":\"+2348032249455\",\n  \"senderEmailAddress\":\"mladejebi@swifta.com\",\n  \"cardNo\":\"5061020000000000094\", \n  \"expiryMonth\":\"09\", \n  \"expiryYear\":\"17\", \n  \"cvv\":\"321\", \n  \"pin\":\"3231\"\n  },\n  \"receipientObject\":{ \n  \"receipientBankCode\":\"044\", \n  \"receipientBankAccountNumber\":\"0690000007\"\n  }, \n\"amount\":\"500.00\",\n\"productId\":\"NG002\",\n\"currency\":\"NGN\", \n\"merchantReferenceId\":\"8002i0@ifta.com\",\n\"countryCode\":\"NG\"\n}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Card2Transfers",
            "x-testDescription": ""
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/card/pay": {
      "post": {
        "description": "APIM - Card [ OTP ]",
        "summary": "Card Payment Request [OTP]",
        "operationId": "Card Payment Request [OTP]",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CardPaymentRequest[otp]request"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/transfer/card/auth": {
      "post": {
        "description": "APIM - OTP Verification",
        "summary": "Card Payment [ OTP Verification ]",
        "operationId": "Card Payment [ OTP Verification ]",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CardPayment[OtpVerification]request"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/transfer/card/auth",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "Bearer 77b29ed7-7f7f-3c3e-966c-41ffe9d12911"
              },
              "body": "{\n\"chargeObject\":{\"otp\":\"123456\" },\n\"mfisaRequestId\":\"-3083524431614823313\",\n\"countryCode\":\"NG\"\n}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Card Payment [ OTP Verification ]",
            "x-testDescription": "APIM - OTP Verification"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/transfer/account": {
      "post": {
        "description": "",
        "summary": "Account2CarTransfer",
        "operationId": "Account2CarTransfer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Account2CarTransferRequest"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/transfer/account",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "Bearer 77b29ed7-7f7f-3c3e-966c-41ffe9d129a2"
              },
              "body": "{\n\"chargeObject\":{\n  \"senderFirstname\":\"Modupe\",\n  \"senderLastname\":\"Ladejebi\",\n  \"senderPhone\":\"+2348032249455\",\n  \"senderEmailAddress\":\"mladejebi@swifta.com\",\n  \"senderBankCode\":\"044\",\n  \"senderBankAccountNumber\":\"0690000008\"\n  },\n  \"receipientObject\":{ \n  \"receipientBankCode\":\"044\", \n  \"receipientBankAccountNumber\":\"0690000007\"\n  }, \n\"amount\":\"500.00\",\n\"productId\":\"NG002\",\n\"currency\":\"NGN\", \n\"merchantReferenceId\":\"1210@ifta.com\",\n\"countryCode\":\"NG\"\n}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Account2CarTransfer",
            "x-testDescription": ""
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    }
  },
  "definitions": {
    "MomoPaymentrequest": {
      "title": "MoMo PaymentRequest",
      "type": "object",
      "properties": {
        "chargeObject": {
          "$ref": "#/definitions/ChargeObject"
        },
        "amount": {
          "description": "",
          "type": "string"
        },
        "merchantReferenceId": {
          "description": "",
          "type": "string"
        },
        "paymentMethodId": {
          "description": "",
          "type": "string"
        },
        "countryCode": {
          "description": "",
          "type": "string"
        },
        "partnerId": {
          "description": "",
          "type": "string"
        },
        "currency": {
          "description": "",
          "type": "string"
        }
      },
      "required": [
        "chargeObject",
        "amount",
        "merchantReferenceId",
        "paymentMethodId",
        "countryCode",
        "partnerId",
        "currency"
      ]
    },
    "ChargeObject": {
      "title": "ChargeObject",
      "type": "object",
      "properties": {
        "msisdn": {
          "description": "",
          "type": "string"
        }
      },
      "required": [
        "msisdn"
      ]
    },
    "Card2TransfersRequest": {
      "title": "Card2TransfersRequest",
      "type": "object",
      "properties": {
        "chargeObject": {
          "$ref": "#/definitions/ChargeObject3"
        },
        "receipientObject": {
          "$ref": "#/definitions/ReceipientObject"
        },
        "amount": {
          "description": "",
          "type": "string"
        },
        "productId": {
          "description": "",
          "type": "string"
        },
        "currency": {
          "description": "",
          "type": "string"
        },
        "merchantReferenceId": {
          "description": "",
          "type": "string"
        },
        "countryCode": {
          "description": "",
          "type": "string"
        }
      },
      "required": [
        "chargeObject",
        "receipientObject",
        "amount",
        "productId",
        "currency",
        "merchantReferenceId",
        "countryCode"
      ]
    },
    "ChargeObject3": {
      "title": "ChargeObject3",
      "type": "object",
      "properties": {
        "senderFirstname": {
          "description": "",
          "type": "string"
        },
        "senderLastname": {
          "description": "",
          "type": "string"
        },
        "senderPhone": {
          "description": "",
          "type": "string"
        },
        "senderEmailAddress": {
          "description": "",
          "type": "string"
        },
        "cardNo": {
          "description": "",
          "type": "string"
        },
        "expiryMonth": {
          "description": "",
          "type": "string"
        },
        "expiryYear": {
          "description": "",
          "type": "string"
        },
        "cvv": {
          "description": "",
          "type": "string"
        },
        "pin": {
          "description": "",
          "type": "string"
        }
      },
      "required": [
        "senderFirstname",
        "senderLastname",
        "senderPhone",
        "senderEmailAddress",
        "cardNo",
        "expiryMonth",
        "expiryYear",
        "cvv",
        "pin"
      ]
    },
    "ReceipientObject": {
      "title": "ReceipientObject",
      "type": "object",
      "properties": {
        "receipientBankCode": {
          "description": "",
          "type": "string"
        },
        "receipientBankAccountNumber": {
          "description": "",
          "type": "string"
        }
      },
      "required": [
        "receipientBankCode",
        "receipientBankAccountNumber"
      ]
    },
    "CardPaymentRequest[otp]request": {
      "title": "Card Payment Request [OTP]Request",
      "type": "object",
      "properties": {
        "chargeObject": {
          "$ref": "#/definitions/ChargeObject6"
        },
        "amount": {
          "description": "",
          "type": "string"
        },
        "countryCode": {
          "description": "",
          "type": "string"
        },
        "paymentMethodId": {
          "description": "",
          "type": "string"
        },
        "currency": {
          "description": "",
          "type": "string"
        },
        "merchantReferenceId": {
          "description": "",
          "type": "string"
        }
      },
      "required": [
        "chargeObject",
        "amount",
        "countryCode",
        "paymentMethodId",
        "currency",
        "merchantReferenceId"
      ]
    },
    "ChargeObject6": {
      "title": "ChargeObject6",
      "type": "object",
      "properties": {
        "cardNo": {
          "description": "",
          "type": "string"
        },
        "expiryMonth": {
          "description": "",
          "type": "string"
        },
        "expiryYear": {
          "description": "",
          "type": "string"
        },
        "cvv": {
          "description": "",
          "type": "string"
        },
        "pin": {
          "description": "",
          "type": "string"
        }
      },
      "required": [
        "cardNo",
        "expiryMonth",
        "expiryYear",
        "cvv",
        "pin"
      ]
    },
    "CardPayment[OtpVerification]request": {
      "title": "Card Payment [ OTP Verification ]Request",
      "type": "object",
      "properties": {
        "chargeObject": {
          "$ref": "#/definitions/ChargeObject8"
        },
        "mfisaRequestId": {
          "description": "",
          "type": "string"
        },
        "countryCode": {
          "description": "",
          "type": "string"
        }
      },
      "required": [
        "chargeObject",
        "mfisaRequestId",
        "countryCode"
      ]
    },
    "ChargeObject8": {
      "title": "ChargeObject8",
      "type": "object",
      "properties": {
        "otp": {
          "description": "",
          "type": "string"
        }
      },
      "required": [
        "otp"
      ]
    },
    "Account2CarTransferRequest": {
      "title": "Account2CarTransferRequest",
      "type": "object",
      "properties": {
        "chargeObject": {
          "$ref": "#/definitions/ChargeObject10"
        },
        "receipientObject": {
          "$ref": "#/definitions/ReceipientObject"
        },
        "amount": {
          "description": "",
          "type": "string"
        },
        "productId": {
          "description": "",
          "type": "string"
        },
        "currency": {
          "description": "",
          "type": "string"
        },
        "merchantReferenceId": {
          "description": "",
          "type": "string"
        },
        "countryCode": {
          "description": "",
          "type": "string"
        }
      },
      "required": [
        "chargeObject",
        "receipientObject",
        "amount",
        "productId",
        "currency",
        "merchantReferenceId",
        "countryCode"
      ]
    },
    "ChargeObject10": {
      "title": "ChargeObject10",
      "type": "object",
      "properties": {
        "senderFirstname": {
          "description": "",
          "type": "string"
        },
        "senderLastname": {
          "description": "",
          "type": "string"
        },
        "senderPhone": {
          "description": "",
          "type": "string"
        },
        "senderEmailAddress": {
          "description": "",
          "type": "string"
        },
        "senderBankCode": {
          "description": "",
          "type": "string"
        },
        "senderBankAccountNumber": {
          "description": "",
          "type": "string"
        }
      },
      "required": [
        "senderFirstname",
        "senderLastname",
        "senderPhone",
        "senderEmailAddress",
        "senderBankCode",
        "senderBankAccountNumber"
      ]
    }
  }
}
